
.tm__col__list {
	list-style: disc outside none;
	padding-left: 2em;
}
.tm__col__list li + li {
	margin-top: 8px;
}
.tm__col__button {
	display: inline-block;
	padding: 8px 16px;
	vertical-align: top;
	
	color: #ffffff;
	font-size: 14px;
	font-weight: 900;
	line-height: 20px;
	
	background: #025193;
	border-radius: 99999px;
}
.tm__col__button--sporenie {
	background: #feaf6e;
}

/* Branding */

.branding {
	display: block;
	padding: 16px;
	width: 204px;
}
.branding__img {
	display: block;
	height: auto;
	width: 100%;
}

@media screen and (min-width: 600px) {
	.branding {
		padding: 24px;
		width: 240px;
	}
}

@media screen and (min-width: 1280px) {
	.branding {
		padding: 32px;
		width: 320px;
	}
}

/* Menu trigger */

.header__menu__trigger {
	display: block;
	height: 32px;
	margin-top: -16px;
	padding: 8px;
	position: absolute;
	right: 8px;
	top: 50%;
	width: 40px;
}
.header__menu__trigger span {
	display: block;
	height: 3px;
	left: 8px;
	opacity: 1;
	position: absolute;
	right: 8px;

	background: #7f8c8d;
}
.header__menu__trigger span:nth-child(1) {
	top: 8px;

	border-radius: 2px 2px 0 0;
}
.header__menu__trigger span:nth-child(2),
.header__menu__trigger span:nth-child(3) {
	top: 14px;
}
.header__menu__trigger span:nth-child(4) {
	top: 20px;

	border-radius: 0 0 2px 2px;
}
.header__menu__trigger.open span {
	border-radius: 2px;
}
.header__menu__trigger.open span:nth-child(1), 
.header__menu__trigger.open span:nth-child(4) {
	opacity: 0;
	top: 14px;
}
.header__menu__trigger.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.header__menu__trigger.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

@media screen and (min-width: 600px) {
	.header__menu__trigger {
		height: 56px;
		margin-top: -28px;
		padding: 12px;
		right: 12px;
		width: 56px;
	}
	.header__menu__trigger span {
		height: 4px;
		left: 12px;
		right: 12px;
	}
	.header__menu__trigger span:nth-child(1) {
		top: 19px;
	}
	.header__menu__trigger span:nth-child(2),
	.header__menu__trigger span:nth-child(3) {
		top: 26px;
	}
	.header__menu__trigger span:nth-child(4) {
		top: 33px;
	}
	.header__menu__trigger.open span:nth-child(1), 
	.header__menu__trigger.open span:nth-child(4) {
		top: 26px;
	}
}

/* Topbar button */

.topbar__button {
	clear: both;
	display: inline-block;
	padding: 12px;
	vertical-align: top;
	width: 100%;

	color: #ffffff;
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;
	text-align: center;

	background: #2c3e50;
}
.topbar__button strong {
	font-weight: 900;
}
.topbar__button i {
	margin-left: 8px;
}

@media screen and (min-width: 600px) {
	.topbar__button {
		padding: 12px 24px;
	}
}

@media screen and (min-width: 1280px) {
	.topbar__button {
		padding: 12px 32px;
	}
}

/* Overlay */

.overlay {
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;

	background: rgba(44, 62, 80, 0.8);
}

/* Load more */

.load-more__button {
	display: inline-block;
	padding: 32px 8px 8px;
	vertical-align: top;

	color: #7f8c8d;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;

	background: url(../images/load-more.svg) no-repeat center top;
}

@media screen and (min-width: 600px) {
	.load-more__button {
		padding: 32px 12px 12px;
	}
}

@media screen and (min-width: 1280px) {
	.load-more__button {
		padding: 32px 16px 16px;
		
		font-size: 16px;
		line-height: 24px;
	}
}

/* TM components */

/* table */

.tm__table__scroller {
	overflow: auto;
}
.tm__table {
	display: table;
	table-layout: fixed;
	width: 100%;
	
	border: 1px solid rgba(44, 62, 80, 0.2);
	border-radius: 4px;
}
.tm__table__row {
	display: table-row;
}
.tm__table__cell {
	display: table-cell;
	padding: 16px;
	width: 128px;
	
	border-bottom: 1px solid rgba(44, 62, 80, 0.2);
}
.tm__table__cell + .tm__table__cell {
	border-left: 1px solid rgba(44, 62, 80, 0.2);
}
.tm__table__row:last-of-type .tm__table__cell {
	border-bottom: 0;
}
.tm__table__content {
	font-size: 16px;
	line-height: 24px;
}

/* decor */

.tm__decor__scroller {
	overflow: auto;
}
.tm__decor__img {
	display: block;
}
.tm__decor__scroller .tm__decor__img {
	border: 1px solid rgba(44, 62, 80, 0.2);
	border-radius: 4px;
}

/* TotalTip */

.totaltip {
	display: block;
	padding-bottom: 16px;

	border: 1px solid rgba(44, 62, 80, 0.2);
	border-radius: 4px;
}
.totaltip__header {
	min-height: 52px;
	padding: 16px;
	position: relative;
}
.totaltip__branding {
	display: block;
	height: auto;
	max-width: 100px;
	width: 100%;
}


/* temp: zmenit img na iframe */

.totaltip > img {
	display: block;
	height: auto;
	margin: auto;
	max-width: 100%;
}



.totaltip__claim {
	display: inline-block;
	padding: 2px 4px;
	position: absolute;
	right: 16px;
	top: 16px;
	vertical-align: top;

	color: #bdc3c7;
	font-size: 12px;
	font-weight: 500;
	line-height: 14px;

	border: 1px solid rgba(44, 62, 80, 0.2);
	border-radius: 2px;
}
.totaltip__content {
	padding: 16px 16px 0;

	border-top: 1px solid rgba(44, 62, 80, 0.2);
}
.totaltip__heading {
	color: #2c3e50;
}
.totaltip__description {
	margin-top: 12px;
	
	color: #7f8c8d;
}
.totaltip__button {
	display: inline-block;
	margin-top: 16px;
	padding: 8px 16px;
	vertical-align: top;
	
	color: #ffffff;
	font-size: 14px;
	font-weight: 900;
	line-height: 20px;
	
	background: #025193;
	border-radius: 99999px;
}
.totaltip--pabk .totaltip__button {
	background: #FF4D00;
}

@media screen and (min-width: 1280px) {
	.totaltip {
		padding-bottom: 24px;
	}
	.totaltip__header {
		min-height: 68px;
		padding: 24px;
	}
	.totaltip__claim {
		right: 24px;
		top: 24px;
	}
	.totaltip__content {
		padding: 24px 24px 0;
	}
	.totaltip__button {
		margin-top: 20px;
		padding: 9px 24px;
		
		font-size: 16px;
		line-height: 24px;
	}
}