.tm__row {
	font-size: 0;
}
.tm__col {
	display: inline-block;
	padding: 16px;
	vertical-align: top;
	width: 100%;
}
.tm__col--s1-2 {
	width: 50%;
}

@media screen and (min-width: 600px) {
	.tm__col {
		padding: 24px;
	}
	.tm__col--m1-2 {
		width: 50%;
	}
	.tm__col--m1-3 {
		width: 33.33333%;
	}
}

@media screen and (min-width: 1024px) {
	.tm__col--l1-3 {
		width: 33.33333%;
	}
	.tm__col--l2-3 {
		width: 66.66667%;
	}
}

@media screen and (min-width: 1280px) {
	.tm__col {
		padding: 32px;
	}
}